<table class="table align-middle">
  <thead>
    <tr>
      <th>圖片</th>
      <th>商品名稱</th>
      <th>價格</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 200px">
        <div
          style="
            height: 100px;
            background-size: cover;
            background-position: center;
          "
        ></div>
      </td>
      <td>{{ }}</td>
      <td>
        <div class="h5">{{ }} 元</div>
        <del class="h6">原價 {{ }} 元</del>
        <div class="h5">現在只要 {{ }} 元</div>
      </td>
      <td>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-secondary">
            <i class="fas fa-spinner fa-pulse"></i>
            查看更多
          </button>
          <button type="button" class="btn btn-outline-danger">
            <i class="fas fa-spinner fa-pulse"></i>
            加到購物車
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
