<div class="text-end">
  <button
    class="btn btn-outline-danger"
    type="button"
    @click.prevent="deleteAllCart"
  >
    清空購物車
  </button>
</div>
<table class="table align-middle">
  <thead>
    <tr>
      <th></th>
      <th>品名</th>
      <th style="width: 150px">數量/單位</th>
      <th>單價</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="cart in carts" :key="cart.id">
      <td>
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          @click.prevent="deleteCart(cart.id)"
        >
          <i class="fas fa-spinner fa-pulse"></i>
          x
        </button>
      </td>
      <td>
        {{ cart.product.title }}
        <div
          v-if="cart.product.origin_price !== cart.product.price"
          class="text-success"
        >
          已套用優惠券
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm">
          <div class="input-group mb-3">
            <input
              min="1"
              type="number"
              class="form-control"
              v-model="cart.qty"
              @input="updateCart(cart.id, cart.qty)"
            />
            <span class="input-group-text" id="basic-addon2"
              >{{ cart.product.unit }}</span
            >
          </div>
        </div>
      </td>
      <td class="text-end">
        <small
          :class="{'text-decoration-line-through': cart.product.origin_price !== cart.product.price}"
        >
          {{ (cart.product.origin_price) * cart.qty}}
        </small>
        <br />
        <small
          v-if="cart.product.origin_price !== cart.product.price"
          class="text-success"
        >
          折扣價：{{cart.product.price * cart.qty }}
        </small>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-end">總計</td>
      <td class="text-end">{{ total }}</td>
    </tr>
    <tr>
      <td colspan="3" class="text-end text-success">折扣價</td>
      <td class="text-end text-success">{{ diffTotal }}</td>
    </tr>
  </tfoot>
</table>
